# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Models and experiments
experiments/
*.pth
*.pt
*.weights

# Datasets
RESIDE-6K/
dataset/
data/hazy/
data/GT/

# IDEs
.idea/
.vscode/
*.swp
